html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

h1 {
  font-size: 3em;
}

a {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: #fff;
}

a:hover {
  color: #e3b505;
}

.text-center {
  text-align: center;
}

.operaContainer img {
  object-fit: cover;
  object-position: center;
}

.contienimi {
  max-width: 80%;
}

.contienimi img {
  width: 100%;
}